@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Poppins: 'Poppins', sans-serif;
  --Bg: #a762a3;
  --Color1: #2e3356;
  --Color2: #ff8ece;
  --Color3: #20d5d8;
  --Color4: #604777;
  --White: #fff;
}

body{
  font-size: 16px;
  font-family: var(--Poppins);
  background-color: var(--Bg);
  color: var(--White);
}

a{
  text-decoration: none;
  color: var(--White);
}